---
pagination:
    data: contentPages
    size: 1
    alias: contentPage
permalink: "/{{ contentPage.dirName }}/{{ contentPage.slug }}/index.html"
layout: base.njk
eleventyComputed:
    title: "{{ contentPage.title }}"
    virtualPath: "~/{{ contentPage.dirName }}/{{ contentPage.slug }}.md"
---
{% from "macros.njk" import catSection, backLink %}

{% call catSection('~/' + contentPage.dirName, contentPage.slug + '.md', { pagefind: true, body: 'post-content' }) %}{{ contentPage.content | md | safe }}{% endcall %}
{{ backLink(pathPrefix + '/' + contentPage.dirName + '/', 'ls -lt') }}
